<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSBDSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WSBDSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44387/WSBD.asmx" binding="basicHttpBinding" bindingConfiguration="WSBDSoap" contract="WSPrueba.WSBDSoap" name="WSBDSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="cs" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\LeonelLora\Desktop\Tareas Adelantadas\HospitalPrueba\Hospital\hospital.Caja\CajaBD.mdf;Integrated Security=True"
      providerName="System.Data.ProviderName" />
    <add name="CajaBDEntities" connectionString="metadata=res://*/CajaModel.csdl|res://*/CajaModel.ssdl|res://*/CajaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\CajaBD.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="hospital.Caja.Properties.Settings.CajaBDConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CajaBD.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>