<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CoreWbsSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CoreWbsSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44346/CoreWbs.asmx" binding="basicHttpBinding"
                bindingConfiguration="CoreWbsSoap" contract="Corews.CoreWbsSoap"
                name="CoreWbsSoap" />
        </client>
    </system.serviceModel>
	<connectionStrings>
		<add name="Conexion" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Ariela\source\repos\Hospital\Hospital.Core\BDCore.mdf;Integrated Security=True" 
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>