@{
    ViewBag.Title = "Sobre nosotros";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Conoce mas sobre nosotros en este apartado.</p>









    <div class="container">
        <hr class="border border-primary border-1 opacity-25">
        <div class="row align-items-start">


            <div class="col">
                <div class="conteiner-img-main">
                    <img src="~/Resources/Hospitec - hospital1.jpg" class="rounded-4 item-main" alt="Hospitec - hospital"/>
                </div>
            </div>

            <div class="col">
                <h4>HOSPITEC</h4>
                <p>
                    HOSPITEC es una institución de la Republica Dominicana. HOSPITEC es un centro oncológico líder de excelencia, donde especialistas de diversos campos médicos trabajan juntos bajo un mismo techo para encontrar el tratamiento óptimo para cada paciente con cáncer. Hace unos buenos 100 años, Vincenz Czerny fundó un instituto de investigación del cáncer en Heidelberg. En 1964, se convirtió en el renombrado Centro Alemán de Investigación del Cáncer (DKFZ). Hoy, la estrecha colaboración entre el Hospital Universitario de Heidelberg y el Centro Alemán de Investigación del Cáncer en investigación y atención al paciente en el Centro Nacional de Enfermedades Tumorales asegura que se desarrollen nuevos enfoques terapéuticos y se pongan en práctica rápidamente.

                    La oncología quirúrgica y la oncología radioeléctrica también son partes integrales en el tratamiento del cáncer. Los médicos de Heidelberg trabajan con equipos de última generación (incluida la cirugía asistida por robot) y tienen mucha experiencia. Por ejemplo, el Centro Europeo del Páncreas del Hospital Universitario de Heidelberg es uno de los principales centros del mundo para el cáncer de páncreas.

                    El  Heidelberg Ion Beam Therapy Center (HIT) , una instalación única en Europa, es la primera en Europa en utilizar tanto protones como iones pesados. Los niños y los pacientes con determinados tumores de próstata, pulmón e hígado pueden tratarse de forma eficaz aquí. Esta nueva forma de radiación puede por primera vez beneficiar a un mayor número de pacientes con tumores previamente incurables.<br/>El Centro Nacional de Enfermedades Tumorales (NCT) Heidelberg es una institución conjunta del Centro Alemán de Investigación del Cáncer, el Hospital Universitario de Heidelberg (UKHD) y German Cancer Aid. <br/>


            </div>
        </div>

    </div>
    <p>
        El  Centro Nacional de Enfermedades Tumorales (NCT)  es un centro oncológico líder de excelencia, donde especialistas de diversos campos médicos trabajan juntos bajo un mismo techo para encontrar el tratamiento óptimo para cada paciente con cáncer. Hace unos buenos 100 años, Vincenz Czerny fundó un instituto de investigación del cáncer en Heidelberg. En 1964, se convirtió en el renombrado Centro Alemán de Investigación del Cáncer (DKFZ). Hoy, la estrecha colaboración entre el Hospital Universitario de Heidelberg y el Centro Alemán de Investigación del Cáncer en investigación y atención al paciente en el Centro Nacional de Enfermedades Tumorales asegura que se desarrollen nuevos enfoques terapéuticos y se pongan en práctica rápidamente.

        La oncología quirúrgica y la oncología radioeléctrica también son partes integrales en el tratamiento del cáncer. Los médicos de Heidelberg trabajan con equipos de última generación (incluida la cirugía asistida por robot) y tienen mucha experiencia. Por ejemplo, el Centro Europeo del Páncreas del Hospital Universitario de Heidelberg es uno de los principales centros del mundo para el cáncer de páncreas.

        El  Heidelberg Ion Beam Therapy Center (HIT) , una instalación única en Europa, es la primera en Europa en utilizar tanto protones como iones pesados. Los niños y los pacientes con determinados tumores de próstata, pulmón e hígado pueden tratarse de forma eficaz aquí. Esta nueva forma de radiación puede por primera vez beneficiar a un mayor número de pacientes con tumores previamente incurables.<br />

        @Html.ActionLink("Para usted a todo momento", "Index", "Home", new { area = "" }, new { @class = "nav-font-color" })
    </p>
</main>




