@{
    ViewBag.Title = "Contactos";
}

<head>
    @Styles.Render("~/Content/Prueba.css")
</head>

<img src="~/Resources/recepcionista de hospital.jpg" class="img-fluid; rounded mx-auto d-block"/>

<main aria-labelledby="title">
    <h2 id="title" class="text-center">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>




    <div class="container text-center">
        <hr class="border border-primary border-1 opacity-25">
        <div class="row align-items-start">
            <div class="col">
                <h5>Puedes encontrarnos en</h5>5
                <p>
                    Heidelberg University Hospital<br />
                    International Office<br />
                    Im Neuenheimer Feld 400<br />
                    69120 Heidelberg<br />
                    Republica Dominicana
                </p>
                <p><strong>Email: </strong>eefewfwewfvswec@gmail.com</p>
                <p><strong>Telefono: </strong>+1 809-000-0000</p>


                <h5>Nuestras horas de servicios son</h5>
                <p><strong>De Lunes a Sabado:</strong> 8:30 a.m. - 8:30 p.m</p>
                <p>(Tiempo de Republica Dominicana)</p>


            </div>
            <div class="col">

                <h5>Días feriados religiosos y nacionales (2023 y 2024)</h5>
                <ul>
                    <li>
                        May 1 (Monday) and May 18, 2023 (Thursday) / May 29 (Monday)
                    </li>
                    <li>
                        June 8, 2023 (Thursday)
                    </li>
                    <li>
                        October 3rd, 2023 (Tuesday) German Unity Day
                    </li>
                    <li>
                        November 1st, 2023 (Wednesday)  All Saints' Day
                    </li>
                    <li>
                        November 1st, 2023 (Wednesday)  All Saints' Day
                    </li>
                    <li>
                        November 1st, 2023 (Wednesday)  All Saints' Day
                    </li>
                    <li>
                        November 1st, 2023 (Wednesday)  All Saints' Day
                    </li>
                    <li>
                        November 1st, 2023 (Wednesday)  All Saints' Day
                    </li>
                    <li>
                        November 1st, 2023 (Wednesday)  All Saints' Day
                    </li>
                </ul>
            </div>
        </div>
        <hr class="border border-primary border-1 opacity-25">
    </div>










    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>